.features-set { 
    padding-bottom: 0;
    text-align: center;

    &__list {      
        display: block;        
        margin: -15px;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {        
            display: flex;
            flex-wrap: wrap;                       
        }
        @media screen and (min-width: 1200px) { margin-bottom: 0; }
    }    
}


.feature {    

    margin: 15px;
    @media screen and (min-width: 768px) {
        max-width: 354px;
        flex-basis: calc( (100% - 2 * 30px) /2 );
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        flex-basis: calc( (100% - 4 * 30px) /4 );
    }

    &__icon { 
        width: 100%;
        margin-bottom: 30px;
        background-color: $third-bg-color;
     }
    &__title {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    &__text {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        color: $secondary-text-color;
        font-size: 14px;
        line-height: 1.71;
    }
}