$primary-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #ffffff99;

$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$third-bg-color: #f5f4fa;

$accent-color: #2196f3;